body {
    background-color: skyblue;
}

div {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid green; */
    width: 100vw;

}

button {
    transition: .4s all;
    font-weight: bolder;
}

button:active {
    transform: scale(1.1);

}

#displayPassword {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 53vh;
    left: 34vw;
    font-size: 27px;
    font-family: 'Rubik Iso', cursive;

}

span {
    font-size: 45px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: black;
    background-color: white;
    font-family: 'Tilt Prism', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: bold;
}